.heading{
    font-size: 2rem;
    color: #5F259E;
}

.out{
    text-align: center;
    width: auto;
}

.box{
    height: 40px;
    max-width: 500px;
    font-size: 1.3rem;
    border-radius: 5px;
    margin: 20px;
}

.button{
    height: 50px;
    width: 200px;
    background-color: #5F259E;
    color: white;
    border-radius: 7px;
    font-size: 1.5rem;
}

.box::placeholder{
    color: #5F259E;
    font-size: 1.2rem;
}